.quiz {
  padding: 15px;
  text-align: center;
  min-height: 100vh;
}

.cardQuestions {
  padding: 15px;
  width: 920px;
}

.questionLabel {
  font-weight: bold;
  font-size: 1.3em;
  padding: 15px;
  border-radius: 5px;
  color: rgb(82, 75, 75);
  width: 870px;
  font-family: "Courrier new";
}

.answers {
  text-align: left;
  padding: 15px;
  font-family: "Courrier new";
}

.nextQuestion {
  background: linear-gradient(0.45turn, #a0f7bf, #73d696, #a0f7bf);
  margin: 15px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 2px 2px rgb(71, 69, 69);
  border: 0;
  font-family: "Courrier new";
}

.nextQuestion:hover {
  background-color: #375842;
  margin: 15px;
  color: white;
  font-weight: bold;
}

.smartphoneResult {
  text-align: left;
}

.toto {
  width: 100%;
  display: flex;
  margin-left: 300px;
  margin-top: 50px;
}

.details {
  text-align: left;
  padding-left: 150px;
  font-family: "Courrier new";
}

h2,
h3 {
  font-family: "Courrier new";
  font-weight: bold;
  color: rgb(83, 80, 80);
}

.marque {
  font-size: 1.3em;
  font-weight: bold;
}
