#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
}

#nav-tool {
  background: linear-gradient(0.45turn, #a0f7bf, #73d696, #a0f7bf);
}

#nav-item {
  color: white;
  text-shadow: 1px 1px grey;
  font-size: 22px;
}

.img-fluid {
  height: 300px;
  width: 100%;
  opacity: 0.7;
}
footer {
  background: linear-gradient(0.45turn, #a0f7bf, #73d696, #a0f7bf);
}

.heart {
  color: red;
}

.wild {
  color: white;
}

.wild:hover {
  text-decoration: none;
  color: white;
}

#bgHomepage {
  height: 300px;
}

#backgroundImg {
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.knowledge {
  padding-top: 100px;
}

@media screen and (max-width: 640px) {
  #nav-item {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
}
