#nav-tool {
  background: linear-gradient(0.45turn, #a0f7bf, #73d696, #a0f7bf);
  height: 50px;
}

.navigation {
  color: white !important;
  text-shadow: 1px 1px grey;
  font-size: 30px;
}

footer {
  background: linear-gradient(0.45turn, #a0f7bf, #73d696, #a0f7bf);
}

.heart {
  color: red;
}

.wild {
  color: white;
}

.wild:hover {
  text-decoration: none;
  color: white;
}
